.new-post {
  padding: 40px 0;

  .post_title {
    font-size: 1.625em;
    font-weight: bolder;
    margin-bottom: 20px;
  }

  .post_content {
    margin-bottom: 20px;

    ion-textarea,
    textarea {
      min-height: 33vh !important;
    }

    textarea {
      border-bottom: 2px solid var(--ion-color-light-shade);
    }

    &.content_only {
      margin-bottom: 8px;
      ion-textarea,
      textarea {
        min-height: 60px !important;
        border-bottom-color: transparent;
      }

      textarea {
        border: 2px solid var(--ion-color-light-shade);
        border-radius: 4px;
      }
    }
  }
}
